body.dark .os-viewport {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  body {
    background-position: unset;
  }
}
@media print{ 
    *{
    display:none
    } 
}  

.ui.inverted.segment {
  background-color: #171717;
}

.ui.attached.segment.dream-card {
  border: 0px solid rgba(34,36,38,.15);
  box-shadow: 0px 0px 20px rgba(102,175,233,.1);
  border-radius: 1.5em;
}

.dream-back .ui.segment,
.ui.segment.dream-posts-section,
.ui.segment.dream-categories-section,
.ui.segment.dream-tags-section,
.dream-single-aside .ui.segment,
.ui.segment.post-disqus-area,
.ui.segment.utterances-comments {
  border-radius: 1.5em;
}

.dream-single .ui.top.attached.segment {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.dream-single .ui.attached.segment:not(.cover) {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

body.dark .markdown-body .highlight pre {
  background: #222 !important;
}
